$def with (page)
$var css: ./css/bootstrap.min.css 

<html lang="pl">
    <head>
        <meta charset="UFT-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title> WEB </title>

        $if self.css:
            $for style in self.css.split():
                <link rel="stylesheet" href="$style"/>
    </head>
    <body>
        <div id="app">
            <div class ="navbar navbar-info navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand"> Glowna </a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a class="waves-effect" href="/"> 1 <div class="ripple-container"></div></a></li>
                    <li><a href="/Opis2"> Opis 2 <div class="ripple-container"></div></a></li>
                    <li><a href="/Opis3"> Opis 3 <div class="ripple-container"></div></a></li>
                    <li><a href="/Opis4"> Opis 4 <div class="ripple-container"></div></a></li>
                </ul>

                <div class="pull-right">
                    <a href="/register" class="btn btn-raised btn-default">Register</a>
                </div>

            </div>
            $:page
        </div>
    </body>
</html>