$def with (page)

<html lang="pl">
    <head>
        <meta charset="UFT-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title> WEB </title>
        <script type="text/javascript"   LANGUAGE="JavaScript">    
            function myFunction()
            {
                var username=document.getElementById("username").value;
                var display_name=document.getElementById("display_name").value;
                var email=document.getElementById("email").value;
                var password=document.getElementById("password").value; 
                document.getElementById("napis").innerHTML=username;
                document.getElementById("napis1").innerHTML=display_name;
                document.getElementById("napis2").innerHTML=email;
                document.getElementById("napis3").innerHTML=password;

                console.log("HOP: ",username,display_name,email,password)
            }
        </script>
    </head>
    <body>
        <div id="app">
            <div class ="navbar navbar-info navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand"> Glowna </a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a class="waves-effect" href="/"> 1 <div class="ripple-container"></div></a></li>
                    <li><a href="/Opis2"> Opis 2 <div class="ripple-container"></div></a></li>
                    <li><a href="/Opis3"> Opis 3 <div class="ripple-container"></div></a></li>
                    <li><a href="/Opis4"> Opis 4 <div class="ripple-container"></div></a></li>
                </ul>

                <div class="pull-right">
                    <a href="/register" class="btn btn-raised btn-default">Register</a>
                </div>
            </div>
            $:page
            <div class="pom">
                <li><a id="napis"></a></li>
                <li><a id="napis1"></a></li>
                <li><a id="napis2"></a></li>
                <li><a id="napis3"></a></li>
            </div>
        </div>
    </body>
</html>